.feedbackContainer {
  display: flex;
  gap: 5px;
}

.btn {
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.btn:hover {
  background: #CBCBCB;
}